{% extends 'base.html' %} 
{% block title %} Home {% endblock %} 
{% block content%}
<div>
    <h2>Welcome</h2>
    {% if session['name'] %}
    <p>You are logged in as {{session['name']}}</p>
    <div class="text-center">
      <a href="/logout"
        ><button type="button" class="btn btn-success">Logout</button></a
      >
    </div>
    {% else %}
    <p>Not logged in yet.</p>
    <div class=" text-center">
        <a href="/login"><button type="button" class="btn btn-success">Login</button></a>
      </div>
      <div class="mt-2"></div>
      <h5 class="text-center">OR</h5>
      <div class="mt-2"></div>
      <div class="text-center">
        <a href="/register"><button type="button" class="btn btn-primary">Register</button></a>
      </div>
    {% endif %}
  </div>
{% endblock %}
